[submodule "bgl-shootout"]
	path = bgl-shootout
	url = git@github.com:blockiosaurus/bgl-shootout.git
[submodule "bgl-dialog-manager"]
	path = bgl-dialog-manager
	url = git@github.com:Bread-Heads-NFT/bgl-dialog-manager.git
[submodule "bgl-maps"]
	path = bgl-maps
	url = git@github.com:Bread-Heads-NFT/bgl-maps.git
[submodule "bgl-path-validator"]
	path = bgl-path-validator
	url = git@github.com:Bread-Heads-NFT/bgl-path-validator.git
